table{
    font-family: 'Roboto', sans-serif;
    border-collapse: collapse;
    margin: auto;
    width: 75%;
}
th{
    text-align: left;
    padding: 15px;
}
td{
    vertical-align: top;
    padding: 20px 15px;
}
.header{
    background-color: black;
    color: white;
}
tr{
    background-color: #26232c;
    color: #57545d;
    border-bottom: 3px solid black;
}
.special-row{
    background-color:#2e2c39;
    color: white;
}
.name{
    color:#b2b0b6;
}
td span{
    font-size: small;
    color:#b2b0b6;
}